.App {
  display: flex;
  color: rgb(41, 35, 29);
  height: 47em;
  width: 100%;
}  

.left {
  width: 100%;
  height: 20%;
  overflow: hidden;
  float: left;
  background-color: rgb(253, 255, 131);
}

.split {
  width: 100%;
  display: inline-block;
}

.left1 {
  width: 100%;
  height: 80%;
  overflow: hidden;
  background-color: rgb(255, 155, 155);
}

.left2 {
  width: 100% !important;
  height: 47em !important;
  overflow: hidden;
  background-color: transparent !important;
}

.left4 {
  width: 100%;
  height: 47em;
  overflow: hidden;
  background-color: rgb(245, 179, 125);
}

.left5 {
  width: 100%;
  height: 6em;
  overflow: hidden;
  background-color: rgb(245, 125, 209);
}

.right {
  width: 25%;
  height: 100%;
  background-color: rgb(5, 30, 125);
}
.MuiStepConnector-lineHorizontal-109 {
  border-top-style: solid;
  border-top-width: 1px !important;
  width: 100px !important;
  margin-left: 5px !important;
}

.MuiStep-horizontal-36:first-child {
  padding-left: 10px !important;
  padding-right: 0 !important;
  width: 30px !important;
}
.MuiStep-horizontal-36 {
  padding-left:0px !important;
  padding-right: 0px !important;
  text-align: center !important;
  width: 40px !important;
  align-items: center !important;
}

.MuiStepLabel-root-40 {
  display: flex;
  font-size: 30px !important;
  width: 45px !important;
  align-items: center;
}
.MuiStepIcon-root-51.MuiStepIcon-active-53 {
  color: #4dbd56 !important;
  font-size: 50px !important;
}

.MuiStepConnector-root-101 {
  flex: 0 0 0 !important;
}
.MuiStepConnector-line-108 {
  display: block;
  border-color:black !important;
}

.MuiStepConnector-root-108 {
 margin-left: 0px !important;
}

.MuiStepConnector-lineHorizontal-116 {
  padding-right:0px !important;
  margin-right:0px !important;
}

.MuiStepIcon-root-51 {
  color: #4dbd56 !important;
  display: block;
  font-size: 50px !important;
}

.BottomButton {
  margin-top:0px !important;
  padding-top:3px !important;
  padding-bottom:0px !important;
  margin-bottom:0px !important;
 float:right !important;
}

.MuiButton-containedPrimary-123 {
  color: #fff;
  background-color: #4dbd56 !important;
}

.MuiButton-root-111 {
  width: 170px !important;
  height: 40px !important;
  font-size: 15px !important;
}

.MuiTypography-body1-74 {
  padding-left:50px !important;
  font-size: 4.2rem !important;

} 

.MuiStepper-horizontal-5 {
  padding-left:50px !important;
}
.register-heading{
  margin-top:100px !important;
  padding-top: 50px !important;
  color: rgb(29, 71, 150) !important;
  padding-left: 50px !important;
  font-size: 17px !important;
  font-weight: 500 !important;
}
.mailIcon{
  color: rgb(6, 6, 124);
  font-size: 20px !important;
}
.form-control{
  width:270px !important;
  height: 45px !important;
}
.input-group-addon {
  background-color: white !important;
}
.form-group {
  display: flex !important;
  padding:50px !important;
}
.input-group {
  padding-left:40px !important;
  padding-right:20px !important;
}
.checkbox {
  padding-left:150px !important;
}
.logo {
width: 0px !important;
}
.totaldiv {
  width: 100% !important;
}
.aimage1 {
  margin-left: 80px !important;
  width: 140px !important;
  height: 55px !important;
  padding-right: 15px !important;
  border-right: 0.5px solid black;
}
 
.left {
  padding-top: 30px !important;
  height: 110px !important;
  background-color: transparent !important;
  border-bottom: 0.5px solid rgb(179, 173, 173) !important;
}

.header {
  display: flex !important;
}

.disp {
  padding-left: 20px !important;
  font-size: 15px !important;
  width: 300px !important;
  padding-top: 10px !important;
  color: rgb(5, 5, 114) !important;
  font-weight: 500 !important;
}
/* insurance policy CSS */

.insurance-policy{
  background-color: rgb(249, 249, 249);
  width: 100%;
  height: 47em;
  overflow: hidden;
  display: flex;
}

.insurance-policy-image-container{
  width: 30%;
  height: 100%;
  background-color:whitesmoke !important; 
}

.insurance-policy-image{
  margin: 10%;
  width: 100%;
}

.insurance-policy-data{
  display: inline-block;
  height: 100%;
  width: 70%;
  background-color: whitesmoke;
  padding:60px 80px;
}

.insurance-policy-data--body{
  display: flex;
}

.insurance-policy-data--left{
  width: 30%;
}

.insurance-policy-data--right{
  width: 70%;
}

/* title and text CSS  */

.title-and-text--title{
  margin: 10px 0px 20px 0px;
  font-size: 20px;
  color: rgb(149, 209, 48);
  font-weight: 500;
}

.title-and-text--text{
  margin-bottom: 20px;
  font-size: 15px;
}

.title-and-text--text-breifData{
  color: #344985 !important;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 10px;
}

.sidebar-carousel-content{
  padding-bottom:  100%;
}

/* carousel content */

.carousel-content-heading{
  font-size: 20px;
  color: white;
  font-weight: 400;
  padding-left: 40px;
  padding-top: 50px;
}

.carousel-content-data-container{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
}

.carousel-content-data{
  font-size: 12px;
  color: white;
  padding-bottom: 5px;
  font-weight: 100;
}

.carousel-indicators li {
  opacity: 1;
  border-radius: 10% !important;
  width: 100px !important;
  height: 5px !important;
 }

 .carousel-indicators{
   padding-left: 20px;
  top:600px;
  width:80% !important;
  margin-left: 0px !important;
  display: flex !important;
  left: 0% !important;
 }

 .MuiStepIcon-root-58.MuiStepIcon-active-60{
   color: rgb(149, 209, 48) !important;
   font-size:47px !important;
   
 }
.MuiStepIcon-text-59 {
  font-size: 10px !important;
}

.MuiStepIcon-root-58 {
  font-size:47px !important;
  color: white !important;
  border: 1px solid rgb(185, 181, 181) !important;
  border-radius: 50% !important;
}

.MuiStepIcon-text-59 {
  fill: rgb(153, 145, 145) !important;
}

.Register-instructions-3 {
  margin-left: 80px !important;
  width: 600px !important;
  font-size: 25px !important;
}

.MuiButton-containedPrimary-130 {
  width:160px !important;
  height: 40px !important;
  border-radius: 0% !important;
  box-shadow: none !important;
  font-size: 16px !important;
  text-transform: none !important;
  background-color: rgb(149, 209, 48) !important;
  top:0px !important;
}


.checkTermsFalse{
  display: none !important;
}

.form-group {
  margin-left: 0px !important;
  padding-left: 40px !important;
}

.checkbox {
  padding-left: 100px !important;
}
.MuiStepper-horizontal-5 {
  padding-left: 80px !important;
}
.register-heading {
  padding-left: 80px !important;
}

.MuiStepper-horizontal-5 {
  width: 550px !important;
}